# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temporaries
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentos pesados locales (para no inflar el repo ni ralentizar Pages)
*.pdf
*.docx

# Node modules (si se usan a futuro)
node_modules/
dist/
build/
