# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temporaries
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules (si se usan a futuro)
node_modules/
dist/
build/
